.container.demo {
  background: #054bd1;
  height: 100vh;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.container.demo .row {
  background: #021d51;
  border-bottom: 1px solid #000;
  height: 30vh;
}

.container.demo .row > div > span {
  display: block;
  background: #487bdd;
  color: white;
  font-size: 32px;
  padding: 8px;
  border: 1px solid #021d51;
}

.component.demo {
  padding: 50px;
}
